<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<title>WiWi Jobs - Administrationsbereich</title>
	<%= stylesheet_link_tag 'login', :media => "screen" %>
	<!--[if IE]>
	<%= stylesheet_link_tag 'iehacks', :media => "screen" %>
	<![endif]-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript; charset=utf-8" />
	<%= javascript_include_tag :defaults %>
</head>

<body id="login_body">
	<!-- *** Seitenwrap *** -->
	<div id="login_wrapper">

		<!-- *** Beginn Kontentbereich *** -->
		<div id="content">
			<%= render :partial => "shared/display_flash" %>
			<%= yield  %>
		</div><!-- Ende content -->

	</div><!-- Ende wrapper  -->

	<script type="text/javascript">
	//<![CDATA[
		init()
	//]]>
	</script>
</body>
</html>