<h1>New right</h1>

<%= error_messages_for :right %>

<% form_for(:right, :url => rights_path) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Controller</b><br />
    <%= f.text_field :controller %>
  </p>

  <p>
    <b>Action</b><br />
    <%= f.text_field :action %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', rights_path %>