<h3>
	<%= image_tag "wiwi/icons/link1.gif" %>
<!-- <%= link_to public_job.title+" bei "+public_job.company, job_path(public_job) %> -->
 <%= link_to public_job.title, job_path(public_job)  %>

</h3>
<p>
  
<!--<%= public_job.teaser_text %>-->
	<span class="nowrap noprint">
<!--<%= link_to image_tag("wiwi/icons/link2.gif")+" Details anzeigen", job_path(public_job), :title => "Details anzeigen" %>-->
                &nbsp;&nbsp;&nbsp;
                <%= public_job.company %> | 
                <%= link_to " Details anzeigen", job_path(public_job), :title => "Details anzeigen" %>
		<%= " | "+link_to("Stellenausschreibung herunterladen", public_job.attachment.public_filename) if public_job.attachment %>
                | Vom <%=h public_job.created_at.to_s(:long) %>
	</span>
</p>