<% content_for :headline do %>
	<% @job_type_id=params[:job_type_id=] %>
        <% case @job_type_id
           when 2
            @job_type = "Praktika"
           when 1
            @job_type = "Abschlussarbeiten"
           when 3
            @job_type = "Nebenjobs"
           when 4
            @job_type = "Berufseinstieg"
           end %>
        <%= @job_type %>
<% end %>

<% content_for :footer_left do %>
<%= link_to image_tag("wiwi/icons/rss-feed.gif", :alt => "Atom-Feed")+" Atom-Feed", formatted_list_jobs_path(:atom) %>
<% end %>

<div id="text-left" class="einspaltig">

	<div class="clearall" style="clear:both;"></div>																																								 
	<h2>Die letzten Angebote aus dem Bereich: <%= collection_select :category, :id, JobCategory.find(:all), :id, :title_with_number_of_jobs, {:prompt => "alle"}, { :id => "jobs_filter" } %></h2>
	<%= observe_field :jobs_filter, :url => list_jobs_path, :with => "category_id", :method => :get %>
        <p></p>
	<div id="job_list">
		<%= render :partial => "public_job", :collection => @jobs %>
	</div>
	<p id="pagination_links">
		<%= render :partial => "job_pages" if will_paginate(@jobs) %>
	</p>
	
</div><!-- #text-left end -->
