<% content_for :headline do %>
	<%= @job.title %>
<% end %>

<div id="text-left" class="einspaltig">
	<p><strong>Unternehmen:</strong> <%= @job.company %></p>
        <p>&nbsp;</p>
        <p><strong>Kurzbeschreibung:</strong><%= @job.description %></p>
        <p>&nbsp;</p>
        <p><%- unless @job.contact_data.blank? -%><strong>Kontaktdaten: </strong><%= @job.contact_data %><%- end -%></p>
        <p>&nbsp;</p>
        <%- unless @job.place.blank? -%><p><strong>Ort:</strong> <%= @job.place %></p><%- end -%>
        <%- unless @job.qualification.blank? -%><p><strong>Erforderliche Qualifikationen: </strong><%= @job.qualification %></p><%- end -%>
        <%- unless @job.salary.blank? -%><p><strong>Entlohnung:</strong> Es wird eine Entlohnung angeboten.</p><%- end -%>
        <%- unless @job.start_time.blank? -%><p><strong>Beginn:</strong> <%= @job.start_time.to_s(:noday) %></p><%- end -%>
	<%- if @job.attachment: -%>
        <p>&nbsp;</p>        
        <strong>Stellenausschreibung herunterladen:</strong> <%= image_tag("/stylesheets/wiwi2/link.gif") + " " + link_to(@job.attachment.filename, @job.attachment.public_filename) %>
	<%- end -%>
        <p>&nbsp;</p>
        <p><strong>Kategorien:</strong> <%= @job.categories.collect{|category|link_to(category.title, {:action => "list", :category_id => category.id})}.to_sentence %></p>
        <p>&nbsp;</p>
	<p><div style="font-size:7pt;line-height:8pt">
		Eingestellt von <%= @job.author.name %> am <%= @job.published_at.to_s(:long) %>.
		<%- if @job.author != @job.last_editor: -%>
		Zuletzt geändert von <%= @job.last_editor.name %> am <%= @job.updated_at.to_s(:long) %>.
		<%- end -%> 
		Dieses Angebot wird am <%= @job.published_until.to_s(:long) %> automatisch aus dem System entfernt. 
            </div></p>
	<div class="clearall" style="clear:both;"></div>																																								 	
</div><!-- #text-left end -->
