<% content_for :headline do %>
    <%= @job_type.title unless (@job_type.nil?) %>
<% end %>



<% content_for :footer_left do %>
<%= link_to image_tag("wiwi/icons/rss-feed.gif", :alt => "Atom-Feed")+" Atom-Feed", formatted_list_jobs_path(:atom) %>
<% end %>

<div id="text-left" class="einspaltig">

	<div class="clearall" style="clear:both;"></div>																																								 
	<h2>Die letzten Angebote aus dem Bereich: <%= collection_select :category, :id, JobCategory.find(:all), :id, :title, {:prompt => "alle"}, { :id => "jobs_filter" } %></h2>
	<%= observe_field :jobs_filter, :url => list_job_type_jobs_path(@job_type), :with => "category_id", :method => :get %>
        <p></p>
	<div id="job_list">
		<%= render :partial => "public_job", :collection => @jobs %>
	</div>
	<p id="pagination_links">
		<%= render :partial => "job_pages" if will_paginate(@jobs) %>
	</p>
	
</div><!-- #text-left end -->
