<% content_for :headline do %>
	<%= @job.title %>
<% end %>

<div id="text-left" class="einspaltig">
	<p><strong>Unternehmen:</strong> <%= @job.company %></p>
	<%= @job.description %>
	<%- unless @job.contact_data.blank? -%><strong>Kontaktdaten:<br /></strong><%= @job.contact_data %><%- end -%>
	<%- unless @job.place.blank? -%><strong>Ort:</strong> <%= @job.place %><%- end -%>
	<%- unless @job.qualification.blank? -%><br /><strong>Erforderliche Qualifikation: </strong><%= @job.qualification %><%- end -%>
	<%- unless @job.salary.blank? -%><p>Es wird eine Entlohnung angeboten.</p><%- end -%>
	<%- unless @job.start_time.blank? -%><br /><strong>Beginn:</strong> <%= @job.start_time %><%- end -%>
	<%- unless @job.end_time.blank? -%><br /><strong>Ende:</strong> <%= @job.end_time %><%- end -%>
	<p><strong>Kategorien:</strong> <%= @job.categories.collect{|category|link_to(category.title, {:action => "list", :category_id => category.id})}.to_sentence %></p>
	
	<%- if @job.attachment: -%>
    <strong>Stellenausschreibung herunterladen:</strong> <%= link_to(@job.attachment.filename, @job.attachment.public_filename) %>
	<%- end -%>

	<p>
		Eingestellt von <%= @job.author.name %> am <%= @job.published_at.to_s(:long) %>.
		<%- if @job.author != @job.last_editor: -%>
		Zuletzt geändert von <%= @job.last_editor.name %> am <%= @job.updated_at.to_s(:long) %>.
		<%- end -%>
		<br />
		Dieses Angebot wird am <%= @job.published_until.to_s(:long) %> automatisch aus dem System entfernt. 
	</p>
	<div class="clearall" style="clear:both;"></div>																																								 	
</div><!-- #text-left end -->
