<h2>Benutzerverwaltung </h2>

<table width="100%">
<tr>
  <td><div id="createnew"><p>
<%= link_to image_tag("icons/add.gif", :title => "Neuen Unternehmensbenutzer anlegen", :class => "sanscons"), new_user_path(:user_type => "Company") %>
<%= link_to "Neuen Unternehmensbenutzer anlegen", new_user_path(:user_type => "Company") %></p><p>
<%= link_to image_tag("icons/add.gif", :title => "Neuen Fakultätsbenutzer anlegen", :class => "sanscons"), new_user_path(:user_type => "Faculty") %>
<%= link_to "Neuen Fakultätsbenutzer anlegen", new_user_path(:user_type => "Faculty") %>
</p></div></td>
  <td align="right"><p>Filter: <%= select :filter, :to_s, [["alle", "all"], ["Studenten", "Student"], ["Fakultät","Faculty"], ["Unternehmen","Company"]], {}, { :id => "users_filter" } %></p></td>
</tr>
</table>


<!--<%= link_to image_tag("icons/add.gif", :alt => "Neuen Benutzer anlegen", :class => "sanscons"), new_user_path %>

<p>Filter: <%= select :filter, :to_s, [["alle", "all"], ["Studenten", "Student"], ["Fakultät","Faculty"], ["Unternehmen","Company"]], {}, { :id => "users_filter" } %></p>-->

<%= observe_field :users_filter, :url => users_path, :with => "filter", :method => :get %>

<%= render :partial => "users_table", :object => @users %>

<table width="100%">
<tr>
<td><div id="createspecialuser"><p>
<%= link_to "Neuen Spezialbenutzer anlegen", new_user_path(:user_type => "Student"), :confirm => 'Sind Sie sicher, dass Sie einen Spezialbenutzer anlegen möchten? Dieser Benutzertyp ist nur für Administratoren der Jobbörse bestimmt. '%></p><p>
</p></div></td>
</tr>
</table>