<div id="textile_help">

	<ul>
		<li>Überschrift: <strong>h<em>n</em>.</strong>&#160;<%= link_to "?", "http://rpc.textpattern.com/help/?item=header&#38;lang=de", :popup => true %></li>
		<li>Zitatblock: <strong>bq.</strong>&#160;<%= link_to "?", "http://rpc.textpattern.com/help/?item=blockquote&#38;lang=de", :popup => true %></li>
		<li>nummerierte Liste: <strong>#</strong>&#160;<%= link_to "?", "http://rpc.textpattern.com/help/?item=numeric&#38;lang=de", :popup => true %></li>
		<li>unsortierte Liste: <strong>*</strong>&#160;<%= link_to "?", "http://rpc.textpattern.com/help/?item=bulleted&#38;lang=de", :popup => true %></li>
	</ul>

	<ul>
		<li>_<em>Betonung</em>_&#160;<%= link_to "?", "http://rpc.textpattern.com/help/?item=italic&#38;lang=de", :popup => true %></li>
		<li>*<strong>fett</strong>*&#160;<%= link_to "?", "http://rpc.textpattern.com/help/?item=bold&#38;lang=de", :popup => true %></li>
		<li>??<cite>Zitat</cite>??&#160;<%= link_to "?", "http://rpc.textpattern.com/help/?item=cite&#38;lang=de", :popup => true %></li>
		<li>-gelöschter Text-&#160;<%= link_to "?", "http://rpc.textpattern.com/help/?item=delete&#38;lang=de", :popup => true %></li>
		<li>+eingefügter Text+&#160;<%= link_to "?", "http://rpc.textpattern.com/help/?item=insert&#38;lang=de", :popup => true %></li>
		<li>^hochgestellt^&#160;<%= link_to "?", "http://rpc.textpattern.com/help/?item=super&#38;lang=de", :popup => true %></li>
		<li>~tiefgestellt~&#160;<%= link_to "?", "http://rpc.textpattern.com/help/?item=subscript&#38;lang=de", :popup => true %></li>
	</ul>
	
	<ul>
		<li>"Linkbeschreibung":url&#160;<%= link_to "?", "http://rpc.textpattern.com/help/?item=link&#38;lang=de", :popup => true %></li>
		<li>!/bild/link(Alternativtext)!&#160;<%= link_to "?", "http://rpc.textpattern.com/help/?item=image&#38;lang=de", :popup => true %></li>
	</ul>

	<ul>
		<li><a href="http://hobix.com/textile/quick.html" target="_blank">Kurzübersicht über alle Befehle</a></li>
		<li><a href="http://hobix.com/textile/" target="_blank">Umfangreiche Befehlsreferenz</a></li>
	</ul>
</div>