<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>WiWi Jobs - Administrationsbereich</title>
	<%= stylesheet_link_tag 'ofis2', :media => "screen" %>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript; charset=utf-8" />
	<%= javascript_include_tag :defaults %>
	<%= yield(:head) %>
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<div id="topmenu">
				<ul>
					<li><%= link_to current_user.name, user_path(current_user) %></li>
					<li><%= link_to 'Ausloggen', "/logout", :confirm => 'Sind Sie sicher?' %></li>
					<li><%= link_to 'Zur Jobbörse', index_url %></li>
				</ul>
			</div>
			<%= image_tag '/stylesheets/ofis2/wiwi_schloss.gif', :id => "wiwi_schloss" %>
		</div>
		<div id="menu">
			<%= render :partial => "shared/menu" %>
		</div>
		<div id="content">
			<%= render :partial => "shared/display_flash" %>
			<%= yield  %>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div id="footer">
		<p>© <%=h Time.now.year %> Wirtschaftswissenschschaftliche Fakultät Münster</p>
	</div>
	<%= javascript_tag "init()" %>
</body>
</html>
